html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homepage {
    background-color: #171a1b;
}

.title {
    color: white;
}

#lyrics-input {
    width: 400px;
    height: 250px;
}

textarea {
    width: 400px;
    height: 250px;
    color: white;
    background-color: #2b2a33;
    border-style: solid;
    border-width: 2px;
    border-radius: .25rem;
    border-color: #535A5D;
    line-height: inherit;
    resize: vertical, horizontal;
    overflow: auto;
    box-sizing: border-box;
}

input[type=submit] {
    color: white;
    background-color: #18619d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    line-height: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:hover {
    background-color: #22568d;
    color: #e8e6e3;
}

.output-statement {
    color: white;
}