html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: inline-block;
}

.homepage {
    text-align: center;
    background-image: url(/static/abbey.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

#lyrics-input {
    width: 400px;
    height: 250px;
}

footer {
    position: absolute;
    color: silver;
    bottom: 0;
    width: 100%;
    height: 80px;
    white-space: nowrap;
}

button {
    color: white;
    background-color: #18619d;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    line-height: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #22568d;
    color: #e8e6e3;
}

.output-statement {
    color: white;
    width: 500px;
    font-weight: normal;
    overflow: hidden;
}

span {
    width: 50%;
}